<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RSI_14/15</title>

            <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><b>Dicoogle</b> Export/Import</a>
                </div>
            </div>
        </nav>

        <div class="row" style="margin-top: 3%">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">

                <div class="container-c">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#export" data-toggle="tab"><img src="@routes.Assets.at("images/export.svg")" style="width: 20%"> Export</a></li>
                        <li class=""><a href="#import" data-toggle="tab"><img src="@routes.Assets.at("images/import.svg")" style="width: 20%"> Import</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="export" style="margin-top: 5%;">
                            <div class="col-lg-5" style="border: solid 1px #ddd; border-radius: 20px">
                                <div class="row" style="margin-top: 10%; text-align: center;"><img src="@routes.Assets.at("images/pc.svg")" style="width: 10%"></div>
                                <div class="input-group" style="margin-top: 10%">
                                    <span class="input-group-addon">StudyInstanceID</span>
                                    <input type="text" class="form-control" id="instanceID" placeholder="1.3.51.0.7.633918642.633920010109.6339100821">
                                </div>
                                <div class="input-group labels">
                                    <span class="input-group-addon">File Destination</span>
                                    <input type="text" class="form-control" id="destination" placeholder="C:\temp">
                                </div>
                                <div class="input-group labels">
                                    <span class="input-group-addon">Folder Name</span>
                                    <input type="text" class="form-control" id="folderName" placeholder="DicomDir">
                                </div>
                                <div class="row" style="margin-top: 10%; margin-bottom: 5%; text-align: center;">
                                    <button class="btn btn-success" id="exportPC">Export to PC</button>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5" style="border: solid 1px #ddd; border-radius: 20px">
                                <div class="row" style="margin-top: 10%; text-align: center;"><img src="@routes.Assets.at("images/cloud.svg")" style="width: 10%"></div>
                                <div class="input-group" style="margin-top: 10%">
                                    <span class="input-group-addon">StudyInstanceID</span>
                                    <input type="text" class="form-control" id="instanceIDC" placeholder="1.3.51.0.7.633918642.633920010109.6339100821">
                                </div>
                                <div class="input-group labels">
                                    <span class="input-group-addon">AET</span>
                                    <input type="text" class="form-control" id="aetC" placeholder="C:\temp">
                                </div>
                                <div class="input-group labels">
                                    <span class="input-group-addon">Port</span>
                                    <input type="text" class="form-control" id="portC" placeholder="DicomDir">
                                </div>
                                <div class="input-group labels">
                                    <span class="input-group-addon">Host</span>
                                    <input type="text" class="form-control" id="hostC" placeholder="DicomDir">
                                </div>
                                <div class="row" style="margin-top: 10%; margin-bottom: 5%; text-align: center;">
                                    <button class="btn btn-success" id="exportC">Export to Pacs</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="import" style="margin-top: 5%;">
                            <div class="container" style="width: 80%; height: 200px; border: 1px solid #ddd; border-radius: 20px">
                                sfd
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>


        <footer class="footer">
            <div class="container" style="text-align: center;">
                <p class="text-muted" style="margin-top: 2%">All Rights Reserved &copy; 2014 TT</p>
            </div>
        </footer>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>

        <script>
            $( document ).ready(function() {

                $("#exportPC" ).click(function(){

                    //console.log($("#instanceID").val());
                    //console.log($("#destination").val());
                    //console.log($("#folderName").val());

                    $.ajax({
                        url: 'http://localhost:8080/sample/hello?',
                        type: 'GET',
                        async: false,
                        processData: true,
                        data: 'StudyInstanceUID='+$("#instanceIDC").val()+"&FileDestination="+$("#destination").val()+'&DicomDirName='+$("#folderName").val(),
                        crossDomain : true,
                        success: function(resp) {
                            console.log(resp);
                        },
                        error: function(resp){
                            console.log("ERROR: An error has occurred while trying to access webservice!");
                        }
                    });
                });

                $("#exportC" ).click(function(){

                    //console.log($("#instanceID").val());
                    //console.log($("#destination").val());
                    //console.log($("#folderName").val());

                    $.ajax({
                        url: 'http://localhost:8080/sample/hello?',
                        type: 'GET',
                        async: false,
                        processData: true,
                        data: 'StudyInstanceUID='+$("#instanceID").val()+'&AET='+$("#aetC").val()+'&Port='+$("#portC").val()+'&Host='+$("#hostC").val(),
                        crossDomain : true,
                        success: function(resp) {
                            console.log(resp);
                        },
                            error: function(resp){
                            console.log("ERROR: An error has occurred while trying to access webservice!");
                        }
                    });
                });
            });
        </script>
    </body>
</html>